body{
    margin: 0px;
    padding: 0px;
}

#container{
    background-color: rgba(255,255,255,0.6);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0px;
}

#content{
    height: 100vh;
    background-image: url(./bg.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

#chef{
    width: 300px;
    border-radius: 300px;
}

.content-box{
    background-color: rgba(255,255,255,0.6);
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 700px;
    align-items: center;
}

.menu{
    padding: 50px;
    gap: 32px;
    justify-content: center;
    display: grid;
    align-items: center;
    background-color: rgba(255,255,255,0.6);
    grid-template: 150px 150px 150px/150px 150px 150px;
}

.card{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgba(255,255,255,1);
}

.card img{
    width: 110px;
}


p{
    font-size: 20px;
    margin: 5px;
}


h1{
    color: black;
    font-size: 60px;
    margin: 0px;
    margin-bottom: 16px;
}

.tabs{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.tabs button{
    font-size: 20px;
    padding-bottom: 12px;
    cursor: pointer;
    border: none;
    background-color: rgba(255,255,255,0);
    transition: margin-bottom 0.2s, border-bottom 0.2s;
    
}

.tabs .selected{
    border-bottom: 3px solid black;
}

.tabs button:hover{
    margin-bottom: 12px;
}